* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #E8E9EB;
    background-color: #FFF;
    width: 13.57%;
    height: 100vh;
    padding-top: 24px;
    padding-left: 24px;
    > .logo {
        margin-bottom: 56px;
    }
    > .menu {
        display: flex;
        flex-direction: column;
        gap: 32px;
        > .menu__block {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }
}